@model ArenaTest.Models.TestRun

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestRun</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Platform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Platform)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestRunId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
